
.container {
  max-width: 1640px;
  padding: 0 15px;
  margin: 0 auto;
}
body{
  font-family: $main-font;
  background: $dark;
}
a{
  text-decoration: none;
  color: #707070;
}
.d-flex {
  display: flex;
}
.align-items-center{
  align-items: center ;
}
.justify-content{
  justify-content: center;
}
.center{
  align-items: center;
  justify-content: center;
}
.btn{
  border-radius: 3px;
}