$main-font: 'Poppins', sans-serif;

$font-x-xxx-small: 10px;
$font-xxx-small: 11px;
$font-xx-small: 12px;
$font-x-small: 13px;
$font-small: 14px;
$font-medium: 15px;
$font-large: 18px;
$font-x-large: 20px; //
//25px
$font-xx-large: 30px;//
$font-xxx-large: 40px; //

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

$dark: #000;
$white: #fff;
$accent-color: #707070;
$active-accent-color: #3C82F4;
$active-btn-color: #306EF7;

$border-radius: 8px;
$header-height:83px;
