.header {
  $media-header: 875px;

  .media-menu-btn {
    display: none;
  }

  .check-media-menu-btn {
    display: none;
  }

  .burger {
    font-weight: $font-weight-extraBold;
    font-size: $font-xx-large;
    color: #D6DAE5;
  }

  .burger:hover,
  .burger:active {
    border-radius: 15px;
  }

  @media (min-width: 877px) {

    [for="media-menu-btn"] {
      display: none;
    }
    .media-hidden-desktop {
      display: none;
    }
  }
  @media (max-width: 876px) {
    & {
      z-index: 5;
      position: relative;
      padding: 40px 0 80px
    }
    & [for="media-menu-btn"] {
      display: block;
    }
    .media-hidden-phone {
      display: none;
    }
    &__navigation {
      &-list {
        flex-direction: column;
        gap: 15px;
        align-items: center;

        a {
          display: block;
          padding: 5px 0;
          margin-bottom: 5px;
          text-align: center;
          font-size: 22px;

        }

      }

    }
    .navbar {
      display: none;
      position: absolute;
      top: 100px;
      width: 100%;
      left: 0;
      background: #071720;
      box-shadow: 0 0 25px rgb(0 0 0 / 10%), inset 0 0 1px rgb(255 255 255 / 60%);

    }
    .check-media-menu-btn {
      &:checked {
        & + nav {
          display: initial;
        }
      }
    }
  }
  @media (max-width: 576px) {
    &{
      padding: 20px 0 50px;
    }
    &__logo-name{
      font-size: 25px;
    }
    .burger{
      font-size: 25px;
    }
  }
}

